body {
    background-color: azure;
    margin: 20px;
    font-family: 'El Messiri', sans-serif; 

    
}
.important {
    direction: rtl;
    justify-content: center;
    font-family: 'El Messiri', sans-serif; 
    margin-bottom: 50px;

}

.important-1 {
    direction: rtl;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'El Messiri', sans-serif; 
    color: #fd5ba7;

}
.main {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.fakeimg {
    width: 100%;
    object-fit: cover;
}


.logoimg {
    width: 100%;
    object-fit: cover;
    justify-content: center;
    position: center;

}

.button {
    width: fit-content;
}

.img {
    width: auto;
}