<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}PCNB-Index</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        <h1>Index</h1>
        <p class="important">
        Welcome on my awesome homepage.</p>
        <h2>Hello World!</h2>
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
    {% block footer %}
    &copy; Copyright 2010 by <a href="http://www.pcnb.ir/">PCNB Co.</a>
    {% endblock %}
    </div>
</body>
</html>